* {
    font-family: Kalimati, Verdana, sans-serif;
    color: #666;
    font-size: 16px;
}

img {
    margin-bottom: 30px;
    width: 374px;
    height: 373px;
}

.container {
    width: 1024px;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    margin: 46px 46px 30px 44px;
}

h2 {
    color: #f07c17;
    font-weight: bold;
    font-size: 24px;
}

.main-title {    
    margin: -1px 0 30px 0;
}

.title-features {
    margin: -5px 0 35px 0; 
}

.main-features {
    padding: 35px 0 0 30px;
    border: 1px solid #ccc;
    height: 224px;
    width: 374px;
}

.main-features ul li {
    margin: 10px 0;
}

.col-md-4 {
    width: 375px;
    margin-left: 42px;
    padding: 0;
}

.col-md-8 {
    margin-left: 29px;
    padding: 0;
    width: 535px;
}

.col-md-12 {
    padding: 0;
}

.row {
    margin: 0;
}

.text-container {
    padding: 0;
    line-height: 32px;
    letter-spacing: -0.2px;
}