* {
    font-family: Kalimati, Verdana, sans-serif;  
    color: #666666;
    font-size: 16px;
}

img {
    margin-bottom: 30px;  
    width: 374px;
    height: 373px;
}
.container {
    width: 1024px;
    margin: 0px;
    padding: 0px;
}
h1 {
    font-size: 48px;
    margin-top: 46px;
    margin-left: 44px;
    margin-right: 46px;   
    margin-bottom: 30px;
   
}
h2 {
    color: #F07C17;
    font-weight: bold;
}

.main-title {
    font-size: 24px;
    margin-left: 0px;
    margin-top: -1px;
    margin-bottom:30px;    
}
.title-features {
    margin-top: -5px; 
    margin-left: 0px;
    margin-bottom: 35px;
}
.main-features {
    padding: 35px 0px 0px 30px;
    border: 1px solid #CCCCCC;
    height: 224px;
    width: 374px;
}

.main-features ul li {
    margin: 10px 0px;
}
.col-md-4 {
    width: 375px;
    margin-left: 42px;
    padding: 0px;
}

.col-md-8 {
    margin-left: 29px;
    padding: 0px;
    width: 535px;
}

.col-md-12 {
    padding: 0px;
}
.row {
    margin: 0px;
}

.text-container {
    padding: 0px 0px 0px 0px;
    line-height: 32px;
    letter-spacing: -0.2px;
}
